@import "~cube-ui/src/common/stylus/variable.styl"

$color-background-white = #ffffff
$color-background-grey = #FAFAFA
$color-background-red = #DC0000
$color-background-blue = #4388FF
$color-background-black = #000000
$color-background-grey-new = #F8F8F8

$color-bottom-line = #DCDCDC
$color-bottom-active = #4388FF


$color-font-grey = #505050
$color-font-black = #000000
$color-font-white = #ffffff
$color-font-black-new = #1E1E1E
$color-font-disabled = #969696
$color-font-disabled-new = #787878
$color-font-blue = #4388FF
$color-font-red = #DC0000
$color-font-orange = #E46B44
